body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: #6b4f4f;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

header .logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

header h1 {
    margin-left: 20px;
    font-size: 24px;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #6b4f4f;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding-top: 100px; /* Ensure content starts below the header */
}

section {
    padding: 80px 20px 20px;
    color: #f2be96;
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
}

section h2 {
    color: #6b4f4f;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #6b4f4f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #553939;
}

footer {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.parallax {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax1 {
    background-image: url('Coffee.jpg');
}

#parallax2 {
    background-image: url('Sandwich.jpeg');
}

#parallax3 {
    background-image: url('Cafe.jpeg');
}

#parallax4 {
    background-image: url('karaoke.jpg');

}
#parallax5 {
    background-image: url('Live.jpg');

}

#parallax6 {
    background-image: url('openmic.jpg');

}

#parallax7 {
    background-image: url('Calling.jpg');

}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    section {
        padding: 100px 10px 20px;
    }
}
